<!--The content below is only a placeholder and can be replaced.-->
  

<div class="container">
  <div class="row" style="padding-top: 20px;">
    <div class="col-md-3 logo"></div>
    <div class="col-md-9"><h1>{{ title }}</h1></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      
      <table class="table table-hover">
        <caption>Count of Clients {{cantidad}}</caption>
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Full Name</th>
            <th scope="col">-</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <th scope="row"><img src="{{cliente.picture.thumbnail}}" alt="photo" style="border-radius: 50%" /></th>
            <td style="text-align: left;font-size: 1.5em;vertical-align: bottom;text-transform:capitalize;"><b>{{cliente.name.title}}</b> {{cliente.name.first}} {{cliente.name.last}}</td>
            <td></td>
            <td>
              <button  (click)="onSelect(cliente)" class="btn btn-info search"><i class="fa fa-search"></i></button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<div class="popup-bg" id="modal" style="display:none;">
  <div class="contenedor" *ngIf="selectClient!=null">
    <div class="card card-profile shadow">
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              <div class="d-flex justify-content-between">
                <a href="#" class="btn btn-sm btn-default float-right"></a>
                <a href="#" (click)="closedModal()" class="btn btn-sm btn-info mr-4">Return</a>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-6">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="{{selectClient.picture.large}}" class="rounded-circle">
                  </a>
                </div>
              </div>
            </div>

            <div class="card-body pt-0 pt-md-4">
              <div class="text-center">
                <h3 style="text-transform: capitalize;">
                  <b>{{selectClient.name.title}}</b>, {{selectClient.name.first}} {{selectClient.name.last}}
                </h3>
                <div class="h5 font-weight-300">
                  <i class="ni location_pin mr-2"></i>{{selectClient.location.state}}, {{selectClient.location.city}}
                </div>
                <div class="h5 mt-4">
                  <i class="ni business_briefcase-24 mr-2"></i>{{selectClient.location.street}} - {{selectClient.location.postcode}}
                </div>
                <div style="font-size: 1.5em;">
                  <i class="fa fa-phone"></i> {{selectClient.phone}} / 
                  <i class="fa fa-mobile-phone"></i> {{selectClient.cell}}
                </div>
                <hr class="my-4">
                <p>Simple App made by Julio Vinachi, for sample in Cerci. shows in Angular 6, used tools Bootstrap, axios and API ramdor user generator.</p>
                <a style="font-size: 2em;" href="mailto:{{selectClient.email}}?Subject=Saludos%20{{selectClient.name.first}}">{{selectClient.email}}</a>
              </div>
            </div>
          </div>
  </div>
</div>
